*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-size: 1.2em;
    background: linear-gradient(  to left,
    rgb(116, 209, 116) 10%,
    rgb(218, 139, 139) 90%)
}
nav{
    max-width: 100%;
    height: 50px;
    margin-top: 1%;
    /* Desbordamiento */
    overflow: hidden;
    background-color: #b2a796;
}


/* .menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(178, 157, 157);
} */
nav ul li{
    display: inline;
    padding-right: 15px;
    float: right;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
    padding-right: 15px;
}
nav ul li a:hover{
    color: bisque;
}
.formS{
    width: 30%;
    margin: 3% auto;
    text-align: center;
    background-color: #b2a796;
    border:1px solid silver ;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formS label{
    font-size: 1.5em;
}
#enviar{
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: bisque;
    font-size: 1.4em;
}
#correo, #nombre{
    width: 250px;
    height: 30px;
    border-radius:5px ;
    font-size: 1.4em;
}
#correo:hover, #nombre:hover{
    border: 1px solid red;
}
#enviar:hover{
    background-color: aliceblue;
    color: black;
}
h1{
    text-align: center;
}
#hr{
    width: 50%;
    margin: auto;
}
.acer{
    text-align: justify;
    max-width: 65%;
    width: 49.9%;
    background-color: rgba(0, 0, 0, 0.155);
    padding: 15px;
    border: 1px solid silver;
    border-radius: 5px;
    margin: 12px auto;
}
.acer h2{
    text-align: center;
    color: aliceblue;
}
pre{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}
.acer image{
    width: 400px;
    height: 400px;
}

.columna_oferta{
    width: 33.33%;
    float: left;
    padding: 3%;
    margin: auto;
}

.galeria_oferta{
    max-width: 100%;
    padding: 5%;
    background-color: rgb(83, 152, 255);
    border-radius: 5%;
}

.galeria_oferta img{
    width: 100%;
    height: auto;
}

.galeria_oferta:hover{
    background-color: rgb(255, 0, 0);
    color: black;
    transition: 0.3s;
    transform: scale(1.1);
}